.button {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  border: 0;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  transition: all 0.25s ease;
}

.button--contained {
  background-color: var(--primary-color);
  color: var(--white);
}

.button--outlined {
  border: 1px solid var(--primary-color);
  background-color: var(--white);
  color: var(--primary-color);
}

.button:hover {
  scale: 1.03;
}

.button--contained:hover {
  background-color: var(--primary-hover-color);
}

.button--outlined:hover {
  border: 1px solid var(--primary-hover-color);
}

.button--small {
  font-size: 16px;
  padding: 10px 25px;
}

.button--large {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 60px;
  letter-spacing: 1px;
}

.button--disabled {
  cursor: not-allowed;
}

.button--circled {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30px;
  min-width: 30px;
  max-height: 30px;
  min-height: 30px;
}
