.button {
  background-color: var(--primary-color);
  color: var(--white);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  border: 0;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  transition: background-color 0.25s ease;
}

.button:hover {
  background-color: var(--primary-hover-color);
}

.button--small {
  font-size: 16px;
  padding: 10px 25px;
}

.button--large {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 60px;
}

.button--disabled {
  cursor: not-allowed;
}
