:root {
  --font: "Montserrat", sans-serif;
  --body-bg: #fff;

  --primary-shadow: 0px 6px 24px 0px #fe724c33;
  --secondary-shadow: 5px 10px 20px 0px #d3d1d84d;
  --card-shadow: 18px 18px 36px 0px #d3d1d840;

  --divider-color: #d4d6e0;
  --primary-color: #fe724c;
  --primary-hover-color: #d35533;
  --text-primary: #000;
  --text-secondary: #5b5b5e;

  --input-sign-color: #c4c4c4;
  --input-border-color: #eeeeee;

  --menu-item-active-color: #929eab29;

  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font);
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--body-bg);
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

#root {
  display: flex;
  height: 100dvh;
}
